<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>COVID-19</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/foundation.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<!--wrapper-->
<div class="wrapper"> 
  
  <!--header-->
   <div class="header">
    <div class="header-inner">
      <div class="logo"> <a href="#">COVID 19 Infection and Mortality Risk</a> </div>
           <div class="clear"></div>
    </div>

    
    
  </div>
  
  <!--header end-->
  
  <div class="container">
   <div class="wrapper col4">
   <div id="container1">
   
 <div class="columns large-9">
		  <br />
            <p class="testimoial-text">
	<form action="{{ url_for('predict_infection')}}" method="POST">
	<h1>Personal Information</h2>
			<label for="sex">Sex</label> 
    <select id="sex" name="sex"> 
      <option value="0">Female</option> 
      <option value="1">Male</option> 
      <option value="2">Other</option> 
	</select>
    <br> 
    <label for="age">Age</label> 
    <input type="number" id="age" name="age"> 
    <br> 
	<label for="height">Height (in cm)</label> 
    <input type="number" id="height" name="height"> 
    <br>
	<label for="weight">Weight (in kg)</label> 
    <input type="number" id="weight" name="weight"> 
    <br>
    <label for="blood_type">Blood Type</label> 
    <select id="blood_type" name="blood_type"> 
      <option value="0">Unknown</option> 
      <option value="1">O+</option> 
      <option value="2">A-</option> 
      <option value="3">O-</option> 
      <option value="4">B+</option> 
      <option value="5">B-</option> 
      <option value="6">AB+</option> 
      <option value="7">AB-</option>
	  <option value="8">A+</option> 
    </select> 
    <br> 
	<label for="smoke">Smoke or Vape</label> 
    <select id="smoke" name="smoke"> 
      <option value="0">Light (1 - 5 per day)</option> 
      <option value="1">Never</option> 
      <option value="2">Quit (5 years ago)</option> 
      <option value="3">heavy (More than 20 per day)</option> 
	  <option value="4">Medium (6 - 20 per day)</option>
      <option value="5">Quit (10 days ago)</option> 
      <option value="6">Quit (recently)</option> 
	  <option value="6">I use Vape</option> 
	</select> 
    <br>
    <label for="alc">Alcohol</label> 
    <select id="alc" name="alc"> 
	  <option value="-1">Never</option> 
      <option value="0">No Alcohol in last 14 days</option> 
      <option value="1">1 day of last 14 days</option> 
      <option value="2">2 day of last 14 days</option> 
      <option value="3">3 day of last 14 days</option> 
      <option value="4">4 day of last 14 days</option> 
      <option value="5">5 day of last 14 days</option> 
      <option value="6">6 day of last 14 days</option> 
      <option value="7">7 day of last 14 days</option> 
      <option value="8">8 day of last 14 days</option> 
      <option value="9">9 day of last 14 days</option> 
      <option value="10">10 day of last 14 days</option> 
      <option value="11">11 day of last 14 days</option> 
      <option value="12">12 day of last 14 days</option> 
      <option value="13">13 day of last 14 days</option> 
      <option value="14">I drank everday in last 14 days</option> 
    </select> 
	<label for="can">Cannibis (Marijuana)</label> 
    <select id="can" name="can"> 
	  <option value="-1">Never</option> 
      <option value="0">None in last 28 days</option> 
      <option value="1">1 day of last 28 days</option> 
      <option value="2">2 day of last 28 days</option> 
      <option value="3">3 day of last 28 days</option> 
      <option value="4">4 day of last 28 days</option> 
      <option value="5">5 day of last 28 days</option> 
      <option value="6">6 day of last 28 days</option> 
      <option value="7">7 day of last 28 days</option> 
      <option value="8">8 day of last 28 days</option> 
      <option value="9">9 day of last 28 days</option> 
      <option value="10">10 day of last 28 days</option> 
      <option value="11">11 day of last 28 days</option> 
      <option value="12">12 day of last 28 days</option> 
      <option value="13">13 day of last 28 days</option>
	  <option value="14">14 day of last 28 days</option> 
      <option value="15">15 day of last 28 days</option> 
      <option value="16">16 day of last 28 days</option> 
      <option value="17">17 day of last 28 days</option> 
      <option value="18">18 day of last 28 days</option> 
      <option value="19">19 day of last 28 days</option>
      <option value="20">20 day of last 28 days</option> 
      <option value="21">21 day of last 28 days</option> 
      <option value="22">22 day of last 28 days</option> 
      <option value="23">23 day of last 28 days</option> 
      <option value="24">24 day of last 28 days</option> 
      <option value="25">25 day of last 28 days</option>
	  <option value="26">26 day of last 28 days</option> 
      <option value="27">27 day of last 28 days</option> 
      <option value="28">Everyday for the last 28 days</option> 
    </select>
    <br> 
	<label for="amp">Amphetamines (Ice, Speed)</label> 
    <select id="amp" name="amp"> 
	  <option value="-1">Never</option> 
      <option value="0">None in last 28 days</option> 
      <option value="1">1 day of last 28 days</option> 
      <option value="2">2 day of last 28 days</option> 
      <option value="3">3 day of last 28 days</option> 
      <option value="4">4 day of last 28 days</option> 
      <option value="5">5 day of last 28 days</option> 
      <option value="6">6 day of last 28 days</option> 
      <option value="7">7 day of last 28 days</option> 
      <option value="8">8 day of last 28 days</option> 
      <option value="9">9 day of last 28 days</option> 
      <option value="10">10 day of last 28 days</option> 
      <option value="11">11 day of last 28 days</option> 
      <option value="12">12 day of last 28 days</option> 
      <option value="13">13 day of last 28 days</option>
	  <option value="14">14 day of last 28 days</option> 
      <option value="15">15 day of last 28 days</option> 
      <option value="16">16 day of last 28 days</option> 
      <option value="17">17 day of last 28 days</option> 
      <option value="18">18 day of last 28 days</option> 
      <option value="19">19 day of last 28 days</option>
      <option value="20">20 day of last 28 days</option> 
      <option value="21">21 day of last 28 days</option> 
      <option value="22">22 day of last 28 days</option> 
      <option value="23">23 day of last 28 days</option> 
      <option value="24">24 day of last 28 days</option> 
      <option value="25">25 day of last 28 days</option>
	  <option value="26">26 day of last 28 days</option> 
      <option value="27">27 day of last 28 days</option> 
      <option value="28">Everyday for the last 28 days</option> 
    </select>
    <br>
	<label for="coc">Cocaine</label> 
    <select id="coc" name="coc"> 
	  <option value="-1">Never</option> 
      <option value="0">None in last 28 days</option> 
      <option value="1">1 day of last 28 days</option> 
      <option value="2">2 day of last 28 days</option> 
      <option value="3">3 day of last 28 days</option> 
      <option value="4">4 day of last 28 days</option> 
      <option value="5">5 day of last 28 days</option> 
      <option value="6">6 day of last 28 days</option> 
      <option value="7">7 day of last 28 days</option> 
      <option value="8">8 day of last 28 days</option> 
      <option value="9">9 day of last 28 days</option> 
      <option value="10">10 day of last 28 days</option> 
      <option value="11">11 day of last 28 days</option> 
      <option value="12">12 day of last 28 days</option> 
      <option value="13">13 day of last 28 days</option>
	  <option value="14">14 day of last 28 days</option> 
      <option value="15">15 day of last 28 days</option> 
      <option value="16">16 day of last 28 days</option> 
      <option value="17">17 day of last 28 days</option> 
      <option value="18">18 day of last 28 days</option> 
      <option value="19">19 day of last 28 days</option>
      <option value="20">20 day of last 28 days</option> 
      <option value="21">21 day of last 28 days</option> 
      <option value="22">22 day of last 28 days</option> 
      <option value="23">23 day of last 28 days</option> 
      <option value="24">24 day of last 28 days</option> 
      <option value="25">25 day of last 28 days</option>
	  <option value="26">26 day of last 28 days</option> 
      <option value="27">27 day of last 28 days</option> 
      <option value="28">Everyday for the last 28 days</option> 
    </select>
    <br>
	<label for="lsd">LSD (Acid)</label> 
    <select id="lsd" name="lsd"> 
	  <option value="-1">Never</option> 
      <option value="0">None in last 28 days</option> 
      <option value="1">1 day of last 28 days</option> 
      <option value="2">2 day of last 28 days</option> 
      <option value="3">3 day of last 28 days</option> 
      <option value="4">4 day of last 28 days</option> 
      <option value="5">5 day of last 28 days</option> 
      <option value="6">6 day of last 28 days</option> 
      <option value="7">7 day of last 28 days</option> 
      <option value="8">8 day of last 28 days</option> 
      <option value="9">9 day of last 28 days</option> 
      <option value="10">10 day of last 28 days</option> 
      <option value="11">11 day of last 28 days</option> 
      <option value="12">12 day of last 28 days</option> 
      <option value="13">13 day of last 28 days</option>
	  <option value="14">14 day of last 28 days</option> 
      <option value="15">15 day of last 28 days</option> 
      <option value="16">16 day of last 28 days</option> 
      <option value="17">17 day of last 28 days</option> 
      <option value="18">18 day of last 28 days</option> 
      <option value="19">19 day of last 28 days</option>
      <option value="20">20 day of last 28 days</option> 
      <option value="21">21 day of last 28 days</option> 
      <option value="22">22 day of last 28 days</option> 
      <option value="23">23 day of last 28 days</option> 
      <option value="24">24 day of last 28 days</option> 
      <option value="25">25 day of last 28 days</option>
	  <option value="26">26 day of last 28 days</option> 
      <option value="27">27 day of last 28 days</option> 
      <option value="28">Everyday for the last 28 days</option> 
    </select>
    <br>
	<label for="mdma">MDMA (Ecstasy)</label> 
    <select id="mdma" name="mdma"> [
	
	  <option value="-1">Never</option> 
      <option value="0">None in last 28 days</option> 
      <option value="1">1 day of last 28 days</option> 
      <option value="2">2 day of last 28 days</option> 
      <option value="3">3 day of last 28 days</option> 
      <option value="4">4 day of last 28 days</option> 
      <option value="5">5 day of last 28 days</option> 
      <option value="6">6 day of last 28 days</option> 
      <option value="7">7 day of last 28 days</option> 
      <option value="8">8 day of last 28 days</option> 
      <option value="9">9 day of last 28 days</option> 
      <option value="10">10 day of last 28 days</option> 
      <option value="11">11 day of last 28 days</option> 
      <option value="12">12 day of last 28 days</option> 
      <option value="13">13 day of last 28 days</option>
	  <option value="14">14 day of last 28 days</option> 
      <option value="15">15 day of last 28 days</option> 
      <option value="16">16 day of last 28 days</option> 
      <option value="17">17 day of last 28 days</option> 
      <option value="18">18 day of last 28 days</option> 
      <option value="19">19 day of last 28 days</option>
      <option value="20">20 day of last 28 days</option> 
      <option value="21">21 day of last 28 days</option> 
      <option value="22">22 day of last 28 days</option> 
      <option value="23">23 day of last 28 days</option> 
      <option value="24">24 day of last 28 days</option> 
      <option value="25">25 day of last 28 days</option>
	  <option value="26">26 day of last 28 days</option> 
      <option value="27">27 day of last 28 days</option> 
      <option value="28">Everyday for the last 28 days</option> 
    </select>
    <br>
	<h2>Environmental Factors</h2>
    <label for="p_con">How many people were you in close contact with in the last week? (including partners, children, work colleagues, customers, patients etc.)</label> 
    <select id="p_con" name="p_con"> 
      <option value="0">None</option> 
      <option value="1">1 Person</option> 
      <option value="2">2 Persons</option> 
      <option value="3">3 Persons</option> 
      <option value="4">4 Persons</option> 
      <option value="5">5 Persons</option> 
      <option value="6">6 Persons</option> 
      <option value="7">7 Persons</option> 
      <option value="8">8 Persons</option> 
      <option value="9">9 Persons</option> 
      <option value="10">10 Persons</option> 
      <option value="11">11 Persons</option> 
      <option value="12">12 Persons</option> 
      <option value="13">13 Persons</option>
	  <option value="14">14 Persons</option> 
      <option value="15">15 Persons</option> 
      <option value="16">16 Persons</option> 
      <option value="17">17 Persons</option> 
      <option value="18">18 Persons</option> 
      <option value="19">19 Persons</option>
      <option value="20">20 Persons</option>
	  <option value="21">More than 20</option>
    </select> 
    <br> 
    <label for="p_house">How many people live in your house / flat?</label> 
    <select id="p_house" name="p_house"> 
      <option value="0">I live alone</option> 
      <option value="1">1 People</option> 
      <option value="2">2 People</option> 
      <option value="3">3 People</option> 
      <option value="4">4 People</option> 
      <option value="5">5 People</option> 
      <option value="6">6 People</option> 
      <option value="7">7 People</option> 
      <option value="8">8 People</option> 
      <option value="9">9 People</option> 
      <option value="10">10 People</option> 
      <option value="11">More than 10 people</option>  
    </select> 
    <br> 
	
	<h2>Behavioral Factors</h2>
	
    <label for="gov_action">Rate your Government's actions towards dealing with COVID-19 on a scale of 1-5</label> 
    <select id="gov_action" name="gov_action">  
      <option value="1">1</option> 
      <option value="2">2</option> 
      <option value="3">3</option> 
      <option value="4">4</option> 
      <option value="5">5</option> 
    </select> 
    <br> 
    <label for="per_action">Are you taking steps to reduce the infection risk (social distancing, washing hands). Rate your actions</label> 
    <select id="per_action" name="per_action">  
      <option value="1">1</option> 
      <option value="2">2</option> 
      <option value="3">3</option> 
      <option value="4">4</option> 
      <option value="5">5</option> 
    </select> 
    <br> 
	<label for="other_action">Are the people you live with taking adquate actions to deal with COVID-19 (social distancing, washing hands). Rate their actions</label> 
    <select id="other_action" name="other_action">  
      <option value="1">1</option> 
      <option value="2">2</option> 
      <option value="3">3</option> 
      <option value="4">4</option> 
      <option value="5">5</option> 
    </select> 
    <br>
	<label for="mask">Do you wear a mask when outside of your house / flat?</label> 
    <select id="mask" name="mask">  
      <option value="1">Never</option> 
      <option value="2">Rarely</option> 
      <option value="3">Sometimes</option> 
      <option value="4">Often</option> 
      <option value="5">Everytime</option> 
    </select> 
	<br> 
	
	<h2>Health Factors</h2>
	
    <label for="cov">Do you have COVID-19 Symptoms (dry cough and fever)</label> 
    <select id="cov" name="cov"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
    </select> 
    <br> 
	<label for="cov_con">Been in contact with someone who has COVID-19</label> 
    <select id="cov_con" name="cov_con"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	
	<h3>If you have...</h3>
	<label for="asthma">Asthma</label> 
    <select id="asthma" name="asthma"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="chronic">Chronic Kidney Disease</label> 
    <select id="chronic" name="chronic"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="compr">Compromised Immune System</label> 
    <select id="compr" name="compr"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="coro">Coronary Heart Disease</label> 
    <select id="coro" name="coro"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="chronic_">Chronic Obstructive Lung Disease</label> 
    <select id="chronic_" name="chronic_"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="diabetes">Diabetes</label> 
    <select id="diabetes" name="diabetes"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="hiv">HIV Positive</label>  
    <select id="hiv" name="hiv"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="hyp">Hypertension (High Blood Pressure)</label>  
    <select id="hyp" name="hyp"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br>
	<label for="oth_ch">Other Chronic Illness</label>  
    <select id="other_ch" name="other_ch"> 
      <option value="0">No</option> 
      <option value="1">Yes</option> 
	</select> 
	<br> 
    <input type="submit" value="Submit"> 
  </form> 

</div> 
		
        </div>
      </div>
	  </div>
    </div>

 
   </div>
   <!--footer-->
  
  <div class="footer">
    
      <div class="header-inner">
      <a href="#">COVID 19 model by Hanan Shafi</a> 
           <div class="clear"></div>
      <div class="clear"></div>
    </div>
  </div>
  
  <!--footer end--> 
</div>
<!--wrapper end-->
</body>
</html>
